:root {
--primary-text-color: #000000;
--secondary-text-color: #ffffff;
--footer-text-color: #545454;
--active-text-color: #ff6b08;
--background-color: #ffffff;
--footer-background-color: #f7f7f7;
--active-btn-color: #ff6b01;
--error-color: #ff001B;
}