<footer id="footer">
    <div class="footer">
    <div class="container">
      <div class="footer-block">
        <p class="footer-text">
          <span class="footer-police">© 2022 | All Rights Reserved | </span>
          Developed with
          <svg class="footer-svg" width = "14" height = "13" ><use href="./images/symbol-defs.svg#icon-favorite"></use></svg>
          by
          <!-- popup in href-->
          <a href="#popup" class="footer-link popup-link"> GoIT Students</a>
        </p>
      </div>
    </div>
  </div>
  <!-- popup(modal)-->
  <div id="popup" class="popup">
    <!-- <a href="#footer" class="popup__area"></a> -->
    <div class="popup__body">
      <div class="popup__content">
        <a href="#footer" class="popup__close close-popup">X</a>
        <!-- CONTENT-->
        <div class="popup__title">Modal 1</div>
        <div class="popup__text">
          Это наполнение модалки. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus natus, atque fugit pariatur dicta est unde dolorum ipsum ullam impedit velit deleniti eius nemo, quibusdam a possimus repellendus odio? Id?
        </div>
      </div>
    </div>
  </div>
</footer>