<header class="header__library">
    <div class="header__container">
        <nav class="nav">
            <button class="logo btn">
                <svg width="24" height="23">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
                <span class="logo-text">Filmoteka</span>
            </button>
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__btn btn" href="./index.html">Home</a>
                </li>
                <li class="nav__item nav__item--current">
                    <a class="nav__btn btn" href="./my-library.html">My library</a>
                </li>
            </ul>
        </nav>
        <div class="library">
            <button class="library_btn btn js-btn-watched">Watched</button>
            <button class="library_btn btn js-btn-queue">Queue</button>
        </div>
    </div>
</header>