<header class="header__container--lib">
    <div class="header__library container">
        <nav class="nav">
            <a class="logo btn" href="./index.html">
                <svg class="logo-icon" width="24" height="23">
                    <use href="./images/sprite.svg#icon-film"></use>
                </svg>
                <span class="logo-text btn">Filmoteka</span>
            </a>
            <ul class="navi__list">
                <li class="nav__item">
                    <a class="nav__btn btn" href="./index.html">Home</a>
                </li>
                <li class="nav__item nav__item--current">
                    <a class="nav__btn btn" href="./my-library.html">My library</a>
                </li>
            </ul>
        </nav>
        <div class="library">
            <button class="library_btn btn js-btn-watched library_watched">Watched</button>
            <button class="library_btn btn js-btn-queue library_queue">Queue</button>
        </div>
    </div>
  </div>
</header>
