<header class="header__library">
  <div class="header__container">
    <nav class="nav">
      <button class="logo btn">
        <svg width="24" height="23">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </button>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="./index.html">HOME</a>
        </li>
        <li class="nav__item"><a href="./my-library.html">MY LIBRARY</a></li>
      </ul>
    </nav>
    <div class="library">
      <button class="library_btn btn library_wached">WATCHED</button>
      <button class="btn library_btn library_queue">QUEUE</button>
    </div>
  </div>
</header>
