<div class="modal-card">


    <!-- <div class="modal__backdrop  js-backdrop">

        <div class="modal__container">

            <button class="close-button" data-action="close-modal">
                <svg class="modal__close-icon">
                    <use href="./images/close.svg"></use>
                </svg>

                <span class="close"></span>

            </button>
            <div class="modal__content">
                <div class="film__poster">
                    <img class="film__image"
                        src="https://images.unsplash.com/photo-1634157703702-3c124b455499?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80"" alt="">
            
            <div class=" film_description">
                    <h2 class="film__title"></h2>

                    <div class="grid-container">
                        <table>
                            <tr>
                                <td class="film__info">Vote / Votes</td>
                                <td class="film__vote"></td>
                            </tr>
                            <tr>
                                <td class="film__info">Popularity</td>
                                <td class="film__value"></td>
                            </tr>
                            <tr>
                                <td class="film__info">Original Title</td>
                                <td class="film__original"></td>
                            </tr>
                            <tr>
                                <td class="film__info">Genre</td>
                                <td class="film__value"></td>
                            </tr>
                        </table>
                    </div>

                    <h3 class="film__about">About</h3>
                    <p class="film__overview"></p>

                    <div class="modal__buttons">
                        <button type="button" class="film__button btn__watch">Add to watched</button>
                        <button type="button" class="film__button btn__queue">Add to queue</button>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div>
</div> -->
</div>