.listFilm {    
    @media screen and (min-width: 768px) {
            // width: 744px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }         
}

.gallery__item { 
    @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 32px) / 2);
        }
    
        @media screen and (min-width: 1280px) {
            flex-basis: calc((100% - 32px) / 3);
        }
    
}

.slot__thumb {
    position: absolute;
    width: 394px;
    height: 634px;
    left: 443px;
    top: 276px;
}

.img__gallery {
    height: 574px;
    border-radius: 5px;
}
.title__gallery, .other__gallery {
    font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left; 
}

.title__gallery{
        color: var(--primary-text-color);
}

.other__gallery {
  color: var(--active-text-color);
}

.btn-vote {
    width: 40px;
    height: 20px;
    background: var(--active-btn-color);
    border-radius: 5px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: var(--secondary-text-color);}