.header {

    min-height: 216px;
    padding-top: 40px;
    margin: 0 auto ;
    background-size: cover;
    background-position: center;
20px;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/abstract-background-with-red-lines\ 1.jpg');

    @media screen and (min-width: 768px) {
        padding-top: 40px;
                background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/header/header-tablet@2x.jpg');
    }

    @media screen and (min-width: 1280px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/header/header-desktop@2x.jpg');
        padding-top: 40px;
    }
}

.header__container {
    position: relative;
}

.logo-icon{
    fill: #ffffff;
}
   

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__btn{
    color: #ffffff;
    text-decoration: none;

}

.logo {
    border: 0;
}

.logo-text {
    color: #ffffff;
text-decoration: none;
    margin-left: 10px;
    font-size: 30px;
    line-height: calc(35 / 30);

   
 @media screen and (max-width: 768px) 
 {
  display: none;
    }
}

.nav__list {
    display: flex;
}

.nav__item:last-child {
    margin-left: 32px;
    // margin-right: 20px;


}

.searching-form {
    display: flex;
    justify-content: center;
    margin-top: 57px;

    @media screen and (min-width: 768px) {
            margin-top: 49px;
        }
        @media screen and (min-width: 1280px) {
            margin-top: 50px;
        }
        
        }
    

    .search-form {
        min-width: 280px;
        border: none;
        border-bottom: 0.5px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        // margin-top: 54px;
        margin-bottom: 92px;
    @media screen and (min-width: 768px) {
        // margin-top: 40px;
            margin-bottom: 80px;

    }
        @media screen and (min-width: 1280px) {
            // margin-top: 40px;
            margin-bottom: 80px;

    }}
    
.button-search{
    background-color:transparent;
    border: none;
    cursor: pointer;
}
.search-form__input::placeholder{

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    color: #FFFFFF;
}
.search-form__input{
   background-color: transparent;
   color: #FFFFFF;
   border: none;
   min-width: 250px;
   height: 20px;

   @media screen and (min-width: 768px) {
    width: 336px;
    
   }

        @media screen and (min-width: 1280px) {
            width: 394px;
    
        }
}

.nav__item--current {
    display: block;
    transform: scale(1);
}

.nav__item--current::after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--error-color);
    transform: scaleX(1);
}

