/* .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
 
  padding: 10px;
} */

/* .pagination ul {
  display: flex;
  background: #fff;
  padding: 8px;
}

.pagination ul li {
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination ul li.numb {
  border-radius: 15%;
  height: 45px;
  width: 45px;
  margin: 0 3px;
}

.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}

.pagination ul li.btn {
  padding: 0 20px;
}

.pagination ul li.prev {
  border-radius: 15%;
}
.pagination ul li.next {
  border-radius: 15%;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
  color: #fff;
  background: #ff6b01;
}
 */

#tui-pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tui-pagination-container .tui-page-btn {
  width: 44px;
  height: 44px;
  /* border: 1px solid #ec0b0b; */
  /*  background: #34495e; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 500;
  border: none;
  font-size: 16px;
}

/* .pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
  color: #fff;
  background: #ff6b01;
} */
#tui-pagination-container .tui-page-btn:hover {
  background-color: #ff6b01;
  color: #fff;
  transition: all 0.3s ease;
}

#tui-pagination-container .tui-page-btn.tui-is-selected {
  background-color: #ff6b01;
  color: #fff;
}

#tui-pagination-container.is-hidden {
  display: none;
}

.pag-style {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
